<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav style="background-color: #77AF51;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="images/logo-dinheirinho-letra-branca.png" alt="logo" style="width: 70%; height: 90%">
                </div>
                <div class="col-6">
                    <h1>Controle de Finanças Pessoais</h1>
                </div>
                <div class="col">
                    <img src="images/icon-perfil.png" alt="logo">
                </div>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; background-color: #12BC52">
                <div style="background-color: #77AF51;">
                    <p style="font-weight: 600; font-size: 17px">Banco inter</p>
                    <p style="font-size: 12px;">Conta corrente</p>
                </div>
                
                <div class="card-body" style="background-color: #C8F4B3;">
                    
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                        conteúdo do card.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Link do card</a>
                    <a href="#" class="card-link">Outro link</a>
                </div>
            </div>
        </div>
        <div class="col">
            2 de 2
        </div>
    </div>



</body>

</html>