<div class="col" style="background-color: #e8b45400; display:flex; justify-content:right; padding-right: 5%">
    <img src="/images/icon-perfil.png" alt="logo" style="width: 20%; height: 80%; background-color: rgba(0, 0, 0, 0);">
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Botão dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Alguma ação</a>
        <a class="dropdown-item" href="#">Outra ação</a>
        <a class="dropdown-item" href="#">Alguma coisa aqui</a>
    </div>
</div>




<div class="col" style="background-color: #e8b45400; display:flex; justify-content:right; padding-right: 5%">
    <img src="/images/icon-perfil.png" alt="logo" style="width: 20%; height: 80%; background-color: rgba(0, 0, 0, 0);">
</div>