<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="/style.css"> -->
    <style>
        body {
            font-family: poppins;
            padding: 0%;
            margin: 0%;
        }

        .success-message {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #d4edda;
            /* Verde claro */
            color: #155724;
            /* Verde escuro */
            padding-top: 32px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: 400px;
            height: 100px;
            text-align: center;
            font-size: 20px;

        }

        .btn-dropdown-toggle {
            width: 50px;
            /* Defina o tamanho desejado para as imagens */
            height: 40px;
            border-style: none;
            background-color: #2a994f00;
            padding: 0%;
        }

        .btn-dropdown-toggle:hover {
            cursor: pointer;
            /* Altere o cursor para uma mãozinha ao passar o mouse */
        }

        .btn-dropdown-toggle:focus,
        .btn-dropdown-toggle:active {
            outline: none;
            box-shadow: none;
        }

    </style>
    <link rel="icon" href="/images/ico2.ico" type="image/x-icon">
    <title>Dinheirinho</title>
</head>


<body>
    <nav style="background-color: #77AF51;">

        <div class="row" style="background-color: #06519700; padding-top:1%;">
            <div class="col" style="background-color: #e3737300; padding-left:5%">
                <img src="/images/logo-dinheirinho-letra-branca.png" alt="logo"
                    style="width: 50%; height: 95%; background-color:rgba(165, 42, 42, 0);">
            </div>
            <div class="col-6"
                style="background-color: #5d816500; display:flex; justify-content:center; align-items:center;">
                <h1 style="font-size: 25px; text-align:center; color:white; ">Controle de Finanças Pessoais</h1>
            </div>


            <div class="col"
                style="background-color: #e8b45400; display:flex; justify-content:right; padding-right: 5%">

                <button class="btn-dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="padding:0%; margin:0%" ;>
                    <img src="/images/icon-perfil.png" alt="logo"
                        style="background-color: rgba(0, 0, 0, 0); width:80%; height:100%;">
                </button>


                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Configurações</a>
                    <a class="dropdown-item" href="#">Perfil</a>
                    <a class="dropdown-item" href="/logout">Sair</a>
                </div>
            </div>

        </div>

    </nav>

    <div class="row"
        style="background-color: rgb(255, 255, 255); padding-top: 2%; display: flex; justify-content:center;">


        <div class="card" style="width: 20rem; background-color:#37a69200; margin:0%; padding:0%">
            <div style="background-color: #77AF51; text-align: center; padding-top:8%">
                <p style="font-weight: 600; font-size: 18px; margin-bottom: 0%; color:rgb(255, 255, 255);">Banco
                    inter</p>
                <p style="font-size: 12px; color:rgb(255, 255, 255);">Conta corrente</p>
            </div>

            <div class="card-body" style="background-color: #C8F4B3; border-bottom: 1px solid #77AF51;">

                <ul style="list-style: none; display: flex; padding:0%;">
                    <li style="padding-right:25%;">Ag 0001</li>
                    <li>Conta 0001-01</li>
                </ul>
                <p style="margin-bottom: 2%; padding-left: 1%; ">Saldo Atual</p>

                <div class="row"
                    style="background-color: rgb(255, 255, 255); margin-left: 1%; margin-right:3%; padding-bottom: -15%; border-style: solid;  border-width: 1px; border-radius: 5px; border-color:#77AF51 ">
                    <div class="col" style="background-color: rgba(255, 255, 0, 0);">
                        <p
                            style="font-size: 20px; background-color: rgba(137, 43, 226, 0); margin-bottom: 0%; padding-top:15%;">
                            R$</p>
                    </div>

                    <div class="col" id="saldoDiv" style="background-color: rgba(255, 192, 203, 0); padding-top: 0%;">
                        <p id="saldoAtualP"
                            style="font-size: 30px; background-color: rgba(65, 105, 225, 0); margin-bottom: 0%; padding-top:5%;">

                        </p>
                    </div>

                </div>

            </div>

            <div class="card-body" style="background-color: #C8F4B3; border-bottom: 1px solid #77AF51;">

                <p style="margin-bottom: 2%; padding-left: 1%; ">Saldo final do mês anterior</p>

                <div class="row"
                    style="background-color: rgb(255, 255, 255); margin-left: 1%; margin-right:3%; padding-bottom: -15%; border-style: solid;  border-width: 1px; border-radius: 5px; border-color:#77AF51 ">
                    <div class="col" style="background-color: rgba(255, 255, 0, 0);">
                        <p
                            style="font-size: 20px; background-color: rgba(137, 43, 226, 0); margin-bottom: 0%; padding-top:15%;">
                            R$</p>
                    </div>
                    <div class="col" style="background-color: rgba(255, 192, 203, 0); padding-top: 0%;">
                        <p
                            style="font-size: 30px; background-color: rgba(65, 105, 225, 0); margin-bottom: 0%;padding-top:5%;">
                            --</p>
                    </div>
                </div>
            </div>

            <p style="padding: 0%; margin-top:6%; margin-bottom: 1%; font-size: 15px">Adicionar mais bancos</p>
            <div class="card-body"
                style="display: flex;justify-content: center; background-color:#77AF51; padding:2%; border-radius: 2%;">
                <img src="/images/icon-add-bank.png" alt="icon">
            </div>
        </div>

        <!--Area dos cards -->
        <div style="background-color: rgba(255, 255, 0, 0); padding: 0%;" id="areaDosCards">
            <div style="background-color: rgba(201, 40, 153, 0); padding-right: 0%; padding-left:3%; display:flex;">

                <div class="card" id="cardLancamento"
                    style="width: 23rem; margin-top:0%; background-color:rgba(255, 68, 0, 0); margin-right:3%; ">
                    <div class="card-header" style="background-color: #5D8165; padding-bottom: 0%">
                        <p style="text-align: center; margin-top: 2%; font-size: 18px; color: white">Novo lançamento</p>
                    </div>
                    <ul class="list-group list-group-flush" id="listaClicavel" style="cursor: pointer;">
                        <li class="list-group-item"
                            style="background-color: #C0D7C5; display: flex; justify-content:center; padding:0%; border-width:1px; border-style:solid; border-color:#5D8165; border-top:0px;">
                            <img src="/images/icon-novo-lancamento.png" alt="Novo lançamento"
                                style="width: 90px; height:90px;">
                        </li>
                    </ul>

                    <!-- Modal incluir lançamento-->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Novo lançamento</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form id="form-lancamento">
                                        <!-- Tipo de Lançamento -->
                                        <label for="tipo">Tipo de Lançamento</label>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons"
                                            style="display: block;">
                                            <label class="btn btn-primary" style="width: 49%;" id="btnReceita">
                                                <input type="radio" name="tipo" id="receita" value="Receita"
                                                    autocomplete="off" checked> Receita
                                            </label>
                                            <label class="btn btn-secondary"
                                                style="background-color: whitesmoke; color:#0062cc; width: 49%; border-color:#0062cc"
                                                id="btnDespesa">
                                                <input type="radio" name="tipo" id="despesa" value="Despesa"
                                                    autocomplete="off"> Despesa
                                            </label>
                                        </div>

                                        <!-- Categoria -->
                                        <label for="categoria" style="margin-top: 25px;">Categoria</label>
                                        <div id="categorias">
                                            <!-- Select da categoria de receita -->
                                            <select class="form-select" id="categoriaReceita"
                                                style="color: #0062cc; background-color: white; border: 1px solid #0062cc; border-radius: 5px; padding:6px;">
                                                <option selected>Categoria de receita...</option>
                                                <option value="Salário">Salário</option>
                                                <option value="Empréstimo">Empréstimo</option>
                                                <option value="Investimento">Investimento</option>
                                            </select>

                                            <!-- Select da categoria de despesa -->
                                            <select class="form-select" id="categoriaDespesa"
                                                style="display: none; color: #0062cc; background-color: white; border: 1px solid #0062cc; border-radius: 5px; padding:6px;">
                                                <option selected>Categoria de despesa...</option>
                                                <option value="Alimentação">Alimentação</option>
                                                <option value="Saúde">Saúde</option>
                                                <option value="Lazer">Lazer</option>
                                                <option value="Educação">Educação</option>
                                            </select>
                                        </div>

                                        <!-- Forma -->
                                        <label for="forma" style="margin-top: 5px; margin-bottom: -5px;">Forma:</label>
                                        <select class="form-select" id="forma" name="forma"
                                            style="display: block; color: #0062cc; background-color: white; border: 1px solid #0062cc; border-radius: 5px; padding: 6px;">
                                            <option selected>Selecione a forma</option>
                                            <option value="Dinheiro">Dinheiro</option>
                                            <option value="Pix">Pix</option>
                                            <option value="Débito">Débito</option>
                                            <option value="Crédito">Crédito</option>
                                            <option value="TED/DOC">TED/DOC</option>
                                        </select>

                                        <!-- Data -->
                                        <label for="data"
                                            style="display: block; margin-top: 0px; margin-bottom: 0px; ">Data</label>
                                        <input type="date" id="data" name="data"
                                            style="color: #0062cc; background-color: white; border: 1px solid #0062cc; border-radius: 5px; padding:6px;">

                                        <!-- Valor -->
                                        <label for="valor"
                                            style="margin-top: 0px; margin-bottom: 0px; display:block;">Valor:</label>
                                        <input type="text" id="valor" name="valor"
                                            style="color: #0062cc; background-color: white; border: 1px solid #0062cc; border-radius: 5px; padding:6px; width: 200px;">

                                        <!-- Descrição -->
                                        <label for="descricao"
                                            style="margin-top: 0px; margin-bottom: 0px; display:block;">Descrição:</label>
                                        <input type="text" id="descricao" name="descricao"
                                            style="color: #0062cc; background-color: white; border: 1px solid #0062cc; border-radius: 5px; padding:6px; width: 470px;">

                                        <!-- Botões de Ação -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">CANCELAR</button>
                                            <button type="submit" class="btn btn-primary">SALVAR</button>
                                        </div>

                                        <!-- Mensagem de Sucesso -->
                                        <div class="success-message" id="successMessage" style="display: none;">
                                            Lançamento criado com sucesso!
                                        </div>

                                        <script>
                                            // Adiciona um evento de clique ao card
                                            document.getElementById('cardLancamento').addEventListener('click', function () {
                                                // Abre o modal quando o card for clicado
                                                $('#exampleModalCenter').modal('show');
                                            });
                                        </script>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card" style="width: 23rem; margin-top:0%; background-color:rgba(255, 68, 0, 0); padding:0%">
                    <div class="card-header" style="background-color: #E37373; padding-bottom: 0%">
                        <p style="text-align: center; margin-top: 2%; font-size: 18px; color: white">Dívidas a pagar</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            style="background-color: #FFF2F2; display: flex; justify-content:center; padding:0%; border-width:1px; border-style:solid; border-color:#E37373; border-top:0px;">
                            <img src="/images/icon-dividas-a-pagar.png" alt="Dívidas a pagar"
                                style="width: 90px; height:90px;">
                        </li>
                    </ul>
                </div>

            </div>

            <div style="background-color: rgba(128, 0, 128, 0); display:flex; padding-right: 0%; padding-left:3%;">

                <div class="card" id="cardEvolucoes"
                    style="cursor: pointer; width: 23rem; margin-top:2%; background-color:rgba(255, 68, 0, 0); margin-right:3%;">
                    <div class="card-header" style="background-color: #37A692; padding-bottom: 0%;">
                        <p style="text-align: center; margin-top: 2%; font-size: 18px; color: white">Evoluções</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            style="background-color: #DDF1E5; display: flex; justify-content:center; padding:0%; border-width:1px; border-style:solid; border-color:#37A692; border-top:0px;">
                            <img src="/images/icon-evolucoes.png" alt="Evoluções" style="width: 90px; height:90px;">
                        </li>
                    </ul>
                </div>


                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        const cardEvolucoes = document.getElementById('cardEvolucoes');
                        cardEvolucoes.addEventListener('click', function () {
                            window.location.href = '/evolucoes';
                        });
                    });
                </script>



                <div class="card"
                    style="width: 23rem; margin-top:2%; background-color:rgba(255, 68, 0, 0); padding:0%;">
                    <div class="card-header" style="background-color: #55A630; padding-bottom: 0%">
                        <p style="text-align: center; margin-top: 2%; font-size: 18px; color: white">Valores a receber
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            style="background-color: #E1FFD3; display: flex; justify-content:center; padding:0%; border-width:1px; border-style:solid; border-color:#55A630; border-top:0px;">
                            <img src="/images/icon-valores-a-receber.png" alt="Valores a receber"
                                style="width: 90px; height:90px;">
                        </li>
                    </ul>
                </div>

            </div>

            <div style="background-color: rgba(255, 21, 255, 0); padding-right: 0%; padding-left:3%; display:flex;">

                <div class="card"
                    style="width: 23rem; margin-top:2%; background-color:rgba(255, 68, 0, 0); margin-right:3%;">
                    <div class="card-header" style="background-color: #E8B554; padding-bottom: 0%">
                        <p style="text-align: center; margin-top: 2%; font-size: 18px; color: white">Lista de desejos
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            style="background-color: #FEEDCC; display: flex; justify-content:center; padding:0%; border-width:1px; border-style:solid; border-color:#E8B554; border-top:0px;">
                            <img src="/images/icon-lista-de-desejos.png" alt="Lista de desejos"
                                style="width: 90px; height:90px;">
                        </li>
                    </ul>
                </div>

                <div class="card"
                    style="width: 23rem; margin-top:2%; background-color:rgba(255, 68, 0, 0); padding:0%;">
                    <div class="card-header" style="background-color: #4A95DB; padding-bottom: 0%">
                        <p style="text-align: center; margin-top: 2%; font-size: 18px; color: white">Orçamento mensal
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"
                            style="background-color: #D6EBFF; display: flex; justify-content:center; padding:0%; border-width:1px; border-style:solid; border-color:#4A95DB; border-top:0px;">
                            <img src="/images/icon-orcamento-mensal.png" alt="Orçamento mensal"
                                style="width: 90px; height:90px;">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- -->


    </div>


    <!--Script de categoria selecionada -->
    <script>
        // Variáveis globais para armazenar o tipo e a categoria selecionados
        let tipoSelecionado = 'Receita';
        let categoriaSelecionada = '';

        // Função para alternar as propriedades de estilo conforme o botão clicado
        function alternarEstilos(tipo) {
            const btnReceita = document.getElementById('btnReceita');
            const btnDespesa = document.getElementById('btnDespesa');

            if (tipo === 'Receita') {
                btnReceita.classList.remove('btn-secondary');
                btnReceita.classList.add('btn-primary');
                btnReceita.style.backgroundColor = '';
                btnReceita.style.color = '';

                btnDespesa.classList.remove('btn-primary');
                btnDespesa.classList.add('btn-secondary');
                btnDespesa.style.backgroundColor = 'whitesmoke';
                btnDespesa.style.color = '#0062cc';
            } else if (tipo === 'Despesa') {
                btnDespesa.classList.remove('btn-secondary');
                btnDespesa.classList.add('btn-primary');
                btnDespesa.style.backgroundColor = '';
                btnDespesa.style.color = '';

                btnReceita.classList.remove('btn-primary');
                btnReceita.classList.add('btn-secondary');
                btnReceita.style.backgroundColor = 'whitesmoke';
                btnReceita.style.color = '#0062cc';
            }

            // Atualiza a variável global com o tipo selecionado
            tipoSelecionado = tipo;

            // Exibe a lista de categoria de acordo com o tipo selecionado
            exibirListaCategoria();
        }

        // Função para exibir a lista de categoria de acordo com o tipo selecionado
        function exibirListaCategoria() {
            const categoriaReceita = document.getElementById('categoriaReceita');
            const categoriaDespesa = document.getElementById('categoriaDespesa');

            if (tipoSelecionado === 'Receita') {
                categoriaReceita.style.display = 'block';
                categoriaDespesa.style.display = 'none';
            } else if (tipoSelecionado === 'Despesa') {
                categoriaReceita.style.display = 'none';
                categoriaDespesa.style.display = 'block';
            }
        }

        // Adiciona eventos de clique aos botões
        document.getElementById('btnReceita').addEventListener('click', function () {
            alternarEstilos('Receita');
        });

        document.getElementById('btnDespesa').addEventListener('click', function () {
            alternarEstilos('Despesa');
        });

        // Adiciona evento de clique ao botão que abre o modal
        document.getElementById('btnAbrirModal').addEventListener('click', function () {
            // Define a opção "Receita" como selecionada
            document.getElementById('receita').checked = true;
            // Atualiza a variável global com o tipo selecionado
            tipoSelecionado = 'Receita';
            // Exibe a lista de categoria de acordo com o tipo selecionado
            exibirListaCategoria();
        });

        // Adiciona evento de mudança ao selecionar a categoria de receita
        document.getElementById('categoriaReceita').addEventListener('change', function () {
            categoriaSelecionada = this.value;
        });

        // Adiciona evento de mudança ao selecionar a categoria de despesa
        document.getElementById('categoriaDespesa').addEventListener('change', function () {
            categoriaSelecionada = this.value;
        });


    </script>



    <!-- Script de salvamento dos dados-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('form-lancamento');

            form.addEventListener('submit', function (event) {
                event.preventDefault(); // Impede o comportamento padrão de envio do formulário

                // Obtém os valores dos campos do formulário
                const tipoLancamento = document.querySelector('input[name="tipo"]:checked').value;

                const categoriaReceita = document.getElementById('categoriaReceita').value;
                const categoriaDespesa = document.getElementById('categoriaDespesa').value;

                const categoriaSelecionada = (tipoLancamento === 'Receita') ? categoriaReceita : categoriaDespesa;

                const forma = form.forma.value;
                const data = form.data.value;
                const valor = form.valor.value;
                const descricao = form.descricao.value;

                // Cria o objeto com os dados do lançamento
                const novoLancamento = {
                    tipo: tipoLancamento,
                    categoria: categoriaSelecionada,
                    forma: forma,
                    data: data,
                    valor: valor,
                    descricao: descricao
                };

                // Envia os dados do novo lançamento para o backend
                fetch('/lancamentos', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(novoLancamento)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erro ao criar lançamento');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Lançamento criado com sucesso:', data);
                        // Limpa os campos do formulário
                        form.reset();
                        // Restaura os estilos dos botões para o estado inicial
                        document.getElementById('btnReceita').click(); // Simula o clique no botão Receita
                        // Exibe a mensagem de sucesso
                        document.getElementById('successMessage').style.display = 'block';
                        // Esconde a mensagem após 3 segundos
                        setTimeout(function () {
                            document.getElementById('successMessage').style.display = 'none';
                        }, 5000);
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                    });
            });
        });

    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Função para obter o saldo atual e atualizar dinamicamente
            const obterESaldoAtualizar = () => {
                fetch('/lancamentos')
                    .then(response => response.json())
                    .then(data => {
                        // Inicializa o total de receitas e despesas
                        let totalReceita = 0;
                        let totalDespesa = 0;

                        // Calcula o total de receitas e despesas
                        data.forEach(lancamento => {
                            if (lancamento.Tipo_de_lançamento === 'Receita') {
                                totalReceita += parseFloat(lancamento.Valor);
                            } else {
                                totalDespesa += parseFloat(lancamento.Valor);
                            }
                        });

                        // Calcula o saldo atual
                        const saldoAtual = totalReceita - totalDespesa;

                        // Apresenta o saldo atual no elemento HTML
                        document.getElementById('saldoAtualP').textContent = saldoAtual.toFixed(2);
                    })
                    .catch(error => console.error('Erro ao obter os lançamentos:', error));












            };

            // Chama a função inicialmente
            obterESaldoAtualizar();

            // Define um intervalo para atualizar o saldo a cada 60 segundos (ou o intervalo desejado)
            setInterval(obterESaldoAtualizar, 6000); // 60000 milissegundos = 60 segundos
        });


    </script>







    <!-- jQuery (obrigatório para o Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Popper.js (obrigatório para o Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS (obrigatório para o Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>