<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/recuperaSenha.css">
    <link rel="icon" href="/images/ico2.ico" type="image/x-icon">
    <title>Dinheirinho</title>
</head>

<body>
    {{#if message}}
    <h4 class="alert alert-success mt-4">{{message}}</h4>
    {{/if}}

    <div class="row justify-content-center" style="background-color: #b63b3700;%;">

        <div class="col" style="background-color: #6fac47;">

            <div class="logo-home">
                <img src="images/logo-dinheirinho-letra-branca.png" alt="logo" id="logo">
            </div>



            <h1 style="color: rgb(28, 87, 50);" id="titulo">
                Recuperar senha
            </h1>


            <form action="/recuperaSenha" method="POST" style="background-color: rgba(68, 94, 240, 0);" id="form">
                <div class="d-flex justify-content-center" style="background-color: rgba(25, 138, 100, 0);">
                    <div class="input-group mb-3 w-100">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1" style="background-color: white;">
                                <img src="/images/email.png" alt="">
                            </span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="Email para recuperação" aria-label="Email">
                    </div>
                </div>

                {{#if messageRegisterSuccessfull}}
                <h4 class="alert alert-success mt-4" style="font-size: 15px; text-align:center">
                    {{messageRegisterSuccessfull}}</h4>
                {{/if}}

                {{#if messageEmptyField}}
                <h4 class="alert alert-danger mt-4" style="font-size: 15px; text-align:center">
                    {{messageEmptyField}}</h4>
                {{/if}}

                {{#if messageErrorEmailPassword}}
                <h4 class="alert alert-danger mt-4" style="font-size: 15px; text-align:center">
                    {{messageErrorEmailPassword}}</h4>
                {{/if}}

                <div class="d-flex justify-content-center">
                    <div class="botao w-100">
                        <button type="submit" class="btn btn-primary" id="btn-recupera-senha">RECUPERAR SENHA</button>
                    </div>
                </div>
            </form>
        </div>

    </div>


    <!--<div class="container" style="background-color: aqua; padding:2%;" id="container">
        container
        <div class="row" style="background-color: blueviolet; padding: 1%">
            row
            <div class="col" style="background-color: brown; padding: 1%">
                col
            </div>
        </div>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

</body>

</html>