<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap Datepicker CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <!--<link rel="stylesheet" href="/style.css"> -->
    <style>
        body {
            font-family: poppins;
            padding: 0%;
            margin: 0%;
        }



        .delete-btn {
            width: 50px;
            /* Defina o tamanho desejado para as imagens */
            height: 40px;
            border-style: none;
            background-color: #2a994f00;
        }

        .edit-btn {
            width: 50px;
            /* Defina o tamanho desejado para as imagens */
            height: 40px;
            border-style: none;
            background-color: #992a2a00;
        }

        .delete-btn:hover {
            cursor: pointer;
            /* Altere o cursor para uma mãozinha ao passar o mouse */
        }

        .edit-btn:hover {
            cursor: pointer;
            /* Altere o cursor para uma mãozinha ao passar o mouse */
        }

        #closeButton:hover {
            cursor: pointer;
            /* Altere o cursor para uma mãozinha ao passar o mouse */
        }


        .btn-dropdown-toggle {
            width: 50px;
            /* Defina o tamanho desejado para as imagens */
            height: 40px;
            border-style: none;
            background-color: #2a994f00;
            padding: 0%;
        }

        .btn-dropdown-toggle:hover {
            cursor: pointer;
            /* Altere o cursor para uma mãozinha ao passar o mouse */
        }

        .btn-dropdown-toggle:focus,
        .btn-dropdown-toggle:active {
            outline: none;
            box-shadow: none;
        }

        .custom-btn {
            font-size: 14px;
            /* Tamanho da fonte desejado */
        }

        .custom-btn.active {
            background-color: #28a745;
            /* Cor de fundo quando clicado */
            color: white;
            /* Cor do texto quando clicado */
        }





        /*---DIMENSÕES PADRÕES PARA SALDO E LARGURA TOTAL---*/
        .row-label {
            display: flex;
            width: 50%;
            background-color: #63ce1b00;
            margin: auto;
            align-self: left;
            color: #468856;
            font-size: 20px;
        }

        /*Para telas menores que 300px */
        @media (max-width: 300px) {
            .row-label {
                font-size: 15px;
            }

        }

        /*Para telas menores que 170px*/
        @media (max-width: 170px) {
            .row-label {
                font-size: 12px;
            }

        }



        .row-saldo {
            display: flex;
            width: 50%;
            background-color: #689948;
            padding-bottom: 2%;
            padding-top: 2%;
            padding-left: 5%;
            padding-right: 5%;
            margin: auto;
            border-radius: 5px;
            color: white;


        }

        /*DIMENSÕES PARA SALDO QUANDO TELA ESTIVER COM MENOS DE 1000PX*/

        /* Para telas menores que 1000px */
        @media (max-width: 1000px) {
            .row-saldo {
                width: 100%;
            }

        }

        /* Para telas menores que 600px */
        @media (max-width: 1000px) {
            .row-label {
                width: 100%;
            }
        }

        /* Para telas maiores que 1000px */
        @media (min-width: 1000px) {
            .row-label {
                margin-top: -2.5%;
            }
        }


        /*DIMENSÕES DE FONTE PARA SALDO EM DIFERENTES TAMANHOS DE TELA*/

        /*Tamanho padrão para fonte*/
        .col-6 {
            font-size: 30px;
        }


        /* Para telas menores que 400px */
        @media (max-width: 400px) {
            .col-6 {
                font-size: 25px;
            }
        }

        /* Para telas menores que 330px */
        @media (max-width: 330px) {
            .col-6 {
                font-size: 20px;
            }
        }

        /* Para telas menores que 190px */
        @media (max-width: 190px) {
            .col-6 {
                font-size: 15px;
            }
        }

        /* Para telas menores que 140px */
        @media (max-width: 140px) {
            .col-6 {
                font-size: 12px;
            }
        }


        /******DIMENSÕES LOGO***************/

        .logo {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        /* Para telas maiores que 900px */
        @media (min-width: 900px) {
            .logo {
                width: 35%;
                height: auto;
            }
        }

        /* Para telas entre 760px e 1027px */

        @media (min-width: 760px) and (max-width: 1027px) {
            .logo {
                width: 50%;
                height: auto;
            }
        }


        @media (min-width: 600px) and (max-width: 760px) {
            .logo {
                width: 80%;
                height: auto;
            }
        }

        @media (min-width: 1px) and (max-width: 600px) {
            .logo {
                width: 100%;
                height: auto;
            }
        }


        /*-------------DIMENSÕES PARA BARRA DE TÍTULO----------------------------------*/

        /* Estilo padrão para telas menores que 580px */
        .titulo-nav {
            font-size: 25px;
        }

        /* Para telas maiores que 900px */
        @media (min-width: 900px) {
            .titulo-nav {
                font-size: 25px;

            }
        }

        /*Para telas menores que 460px*/
        @media (max-width: 460px) {
            .titulo-nav {
                font-size: 18px;
            }
        }


        /*Para telas menores que 280px*/
        @media (max-width: 280px) {
            .titulo-nav {
                font-size: 15px;
            }
        }


        /*Para telas menores que 200px*/
        @media (max-width: 200px) {
            .titulo-nav {
                font-size: 12px;
            }
        }


        @media (max-width: 1000px) {

            #FP1,
            #DS1,
            #AC1 {
                display: none;
            }

            #despesas-table tbody td:nth-child(3),
            #despesas-table tbody td:nth-child(4),
            #despesas-table tbody td:nth-child(6) {
                display: none;
            }

        }


        @media (max-width: 1000px) {

            #FR1,
            #DS0,
            #AC0 {
                display: none;
            }

            #receitas-table tbody td:nth-child(3),
            #receitas-table tbody td:nth-child(4),
            #receitas-table tbody td:nth-child(6) {
                display: none;
            }

        }


    

    













    </style>
    <link rel="icon" href="/images/ico2.ico" type="image/x-icon">
    <title>Dinheirinho</title>
</head>


<body>

    <nav style="background-color: #77AF51; margin: 0%; padding: 0%;">

        <div class="row" style="background-color: #06519700; padding-top:1%;">
            <div class="col" style="background-color: #e3737300; padding-left:5%; display:flex; ">
                <img src="/images/logo-dinheirinho-letra-branca.png" alt="logo" class="logo"
                    style="background-color:rgba(165, 42, 42, 0); align-self:center;">
            </div>
            <div class="col" style="background-color: #5d816500; display:flex; justify-content:center;">
                <h1 class="titulo-nav" style="text-align:center; color:white; align-self:center">Finanças pessoais</h1>
            </div>


            <div class="col"
                style="background-color: #e8b45400; display:flex; justify-content:right; padding-right: 5%; align-items:center;">

                <button class="btn-dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="padding:0%; margin:0%" ;>
                    <img src="/images/icon-perfil.png" alt="logo"
                        style="background-color: rgba(0, 0, 0, 0); width:80%; height:100%;">
                </button>


                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Configurações</a>
                    <a class="dropdown-item" href="#">Perfil</a>
                    <a class="dropdown-item" href="/logout">Sair</a>
                </div>
            </div>

        </div>

    </nav>


    <div class="container" style="background-color: #37a692; padding-left: 5%; padding-right:5%; margin-top:5%; ">
        <button id="closeButton"
            style="border-style: none; border-radius:2px; padding-left:12px; padding-right:12px; background-color:#cf525c; color:rgb(255, 255, 255); ">X</button>
        <div class="row-label">
            <div class="col-12" style="background-color: #db4ac300;">Saldo atual</div>
        </div>

        <div class="row-saldo">
            <div class="col-6" style="background-color: #4a95db00;">R$</div>
            <div class="col-6" id="saldoAtual" style="background-color: #5d816500; text-align: right;"> </div>
        </div>
    </div>



    <div class="container" style="background-color: rgb(17, 102, 102); padding:0%; margin-top: 2%">


        <div class="row" style="background-color: rgba(137, 43, 226, 0); margin: 0%;">
            <div class="col" style="align-self:flex-end; background-color: #5bcc8e00">
                <h1 style="font-size: 20px; font-weight:600; color:#2a994f">RECEITAS</h1>
            </div>
        </div>



        <div class="row" style="background-color: rgb(255, 255, 255); margin:1%; font-size: 15px; font-weight:300">
            <table class="table table-hover" id="receitas-table">
                <thead>
                    <tr style="background-color: #b9b9b9;">
                        <th scope="col">Data</th>
                        <th scope="col">Categoria</th>
                        <th scope="col" >Forma de recebimento</th>
                        <th scope="col" id="DS0" class="descricao-col">Descrição</th>
                        <th scope="col">Valor</th>
                        <th scope="col" id="AC0"> </th> 
                    </tr>
                </thead>
                <tbody>
                    <!-- Dados de receitas serão inseridos dinamicamente aqui -->
                </tbody>
            </table>
        </div>

        <div class="row" style="background-color: rgba(137, 43, 226, 0); margin: 0%;">
            <div class="col" style="align-self:flex-end; background-color:#ff9d9d00">
                <h1 style="font-size: 20px; font-weight:600; color:#e46868">DESPESAS</h1>
            </div>
        </div>

        <div class="row" style="background-color: rgb(255, 255, 255); margin:1%; font-size: 15px; font-weight:300">
            <table class="table table-hover" id="despesas-table">
                <thead>
                    <tr style="background-color: #b9b9b9;">
                        <th scope="col">Data</th>
                        <th scope="col">Categoria</th>
                        <th scope="col" id="FP1">Forma de pagamento</th>
                        <th scope="col" id="DS1">Descrição</th>
                        <th scope="col">Valor</th>
                        <th scope="col" id="AC1"> </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dados de despesas serão inseridos dinamicamente aqui -->
                </tbody>
            </table>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const receitasTable = document.getElementById('receitas-table').querySelector('tbody');
            const despesasTable = document.getElementById('despesas-table').querySelector('tbody');
            let totalReceita = 0;
            let totalDespesa = 0;

            fetch('/lancamentos')
                .then(response => response.json())
                .then(data => {
                    data.forEach(lancamento => {
                        const row = document.createElement('tr');
                        ['Data_de_ocorrencia', 'Categoria', 'Forma', 'Descrição', 'Valor'].forEach(key => {
                            const cell = document.createElement('td');
                            if (key === 'Data_de_ocorrencia') {
                                const dataFormatada = new Date(lancamento[key]);
                                const dataString = dataFormatada.toLocaleDateString('pt-BR');
                                cell.textContent = dataString;
                            } else {
                                cell.textContent = lancamento[key];
                            }
                            row.appendChild(cell);
                        });

                        row.setAttribute('data-id', lancamento.Id);

                        const actionsCell = document.createElement('td');
                        actionsCell.innerHTML = `
                    <div class="col d-flex align-items-center">
                        <button class="delete-btn">
                            <img src="images/delete.png" alt="delete" style="width:40px; height:35px;">
                        </button>
                        <button class="edit-btn">
                            <img src="images/edit.png" alt="edit" style="width:40px; height:35px;">
                        </button>
                    </div>
                `;
                        row.appendChild(actionsCell);


                        if (lancamento.Tipo_de_lançamento === 'Receita') {
                            receitasTable.appendChild(row);
                            totalReceita += parseFloat(lancamento.Valor);
                        } else {
                            despesasTable.appendChild(row);
                            totalDespesa += parseFloat(lancamento.Valor);
                        }
                    });

                    document.querySelectorAll('.delete-btn').forEach(btn => {
                        btn.addEventListener('click', () => {
                            const id = btn.closest('tr').getAttribute('data-id');
                            fetch(`/lancamentos/${id}`, { method: 'DELETE' })
                                .then(response => {
                                    if (response.ok) {
                                        btn.closest('tr').remove();
                                        updateSaldo();
                                    } else {
                                        throw new Error('Erro ao excluir o lançamento');
                                    }
                                })
                                .catch(error => console.error(error));
                        });
                    });



                    // Adicionar evento de clique aos botões de edição
                    document.querySelectorAll('.edit-btn').forEach(btn => {
                        btn.addEventListener('click', () => {
                            const id = btn.closest('tr').getAttribute('data-id');
                            // Implemente a lógica de edição aqui
                            // Você pode abrir um formulário de edição com os detalhes do lançamento correspondente
                            console.log('Editar lançamento com ID:', id);
                        });
                    });


                    const updateSaldo = () => {
                        const saldoAtual = totalReceita - totalDespesa;
                        document.getElementById('saldoAtual').textContent = saldoAtual.toFixed(2);
                    };

                    updateSaldo();
                })
                .catch(error => console.error('Erro ao obter os lançamentos:', error));
        });

    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const closeButton = document.getElementById('closeButton');
            closeButton.addEventListener('click', function () {
                window.location.href = '/home';
            });
        });
    </script>











    <!-- jQuery (obrigatório para o Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Popper.js (obrigatório para o Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS (obrigatório para o Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>

</html>








