#col-1 {
    background-color: rgb(255, 255, 255);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  /*Telas menores que 999px*/
  @media (max-width: 1300px) {
    #col-1 {
      display: none;
    }
  }

  /*Telas maiores que 1000px*/
  @media (min-width: 1301px) {
    #col-1 {
      display: block;
    }
  }

  #col-2 {
    background-color: #77AF51;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }


  /*Telas menores que 1300px*/
  @media (max-width: 1300px) {
    #col-2 {
      border-radius: 10px;
    }
  }

  /*Telas menores que 1000px*/
  @media (max-width: 1000px) {
    #col-2 {
      margin-left: 10%;
      margin-right: 10%;
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 15px;
      padding-bottom: 15px;

    }
  }


  /*Telas menores que 500px*/
  @media (max-width: 500px) {
    #col-2 {
      margin-left: 10%;
      margin-right: 10%;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }


  /*Telas menores que 250px*/
  @media (max-width: 250px) {
    #col-2 {
      margin-left: 0%;
      margin-right: 0%;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }



  #fonte-titulo {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }

  @media (max-width: 400px) {
    #fonte-titulo {
      font-size: 20px;
    }
  }

  @media (max-width: 270px) {
    #fonte-titulo {
      font-size: 18px;
    }
  }


  #cd1 {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
  }

  #cd2 {
    text-align: center;
    font-size: 15px;
    color: #22274e;
    font-weight: 600;
  }


  /*Telas menores que 1000px*/
  @media (max-width: 1000px) {
    .cad {
      display: block;
      padding-top: 10px;
    }
  }

  /*Telas maiores que 1000px*/
  @media (min-width: 1000px) {
    .cad {
      display: none;
    }
  }

  .container{
    margin:auto;
  }

  /*Telas maiores que 1000px*/
  @media (min-width: 1000px) {
    .container {
      margin-left: 250px;
      margin-right: 250px;
    }
  }

.area-login h1{
  padding-top: 25px; 
  font-size: 25px; 
  font-weight: 600;
}

.area-login p {
  padding-top: 10px;
}
