#titulo-login {
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

/*Telas menores que 425px*/
@media (max-width: 425px) {
    #titulo-login {
        font-size: 20px;
    }
}

/*Telas menores que 350px*/
@media (max-width: 350px) {
    #titulo-login {
        font-size: 15px;
    }
}

/*DIMENSÕES PADRÃO*/

#col-1 {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#col-2 {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/*Telas menores que 770px*/
@media (max-width: 770px) {
    #col-1 {
        margin: 10%;
        border-radius: 10px;
    }
}


/*Telas menores que 770px*/
@media (max-width: 770px) {
    #col-2 {
        display: none;
    }
}

/*Telas maiores que 771px*/
@media (min-width: 771px) {
    #col-2 {
        display: block;
    }
}


#logo {
    width: 150px;
    height: auto;
}


@media (max-width: 770px) {
    #logo {
        width: 120px;
        height: auto;
    }
}


#logo-login {
    width: 25%;
    height: auto;
    background-color: rgba(35, 61, 61, 0);
    display: block;
    margin: 0 auto;
}




@media (max-width: 770px) {
    #logo-login {
        display: block;
    }
}

@media (min-width: 771px) {
    #logo-login {
        display: none;
    }
}



@media (max-width: 770px) {
    #logo-login {
        width: 50%;
        height: auto;
        padding-bottom: 5%;
    }
}

@media (max-width: 440px) {
    #logo-login {
        width: 60%;
        height: auto;
        margin-bottom: 5%;
    }
}

@media (max-width: 300px) {
    #logo-login {
        width: 50%;
        height: auto;
    }
}

#cd1 {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

#cd2 {
    text-align: center;
    font-size: 15px;
    color: #22274e;
    font-weight: 600;
}


/*Telas menores que 770px*/
@media (max-width: 770px) {
    .cad {
        display: block;
        padding-top: 10px;
    }
}

/*Telas maiores que 771px*/
@media (min-width: 771px) {
    .cad {
        display: none;
    }
}